<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
  </head>
  <body>
    <header class="header">
      <div class="top-header">
        <div class="container top-header-container">
          <a href="index.html" class="logo">
            <img src="/assets/3.png" alt="Minh Châu Logistics" />
          </a>

          <div class="header-info">
            <div class="header-info-item">
              <div class="header-info-icon">
                <i class="fa-solid fa-mobile-screen"></i>
              </div>

              <div>
                <span>Liên hệ</span>
                <p>+84 966 227 685</p>
              </div>
            </div>

            <div class="header-info-item">
              <div class="header-info-icon">
                <i class="fa-regular fa-clock"></i>
              </div>

              <div>
                <span>Thời gian làm việc</span>
                <p>T2 - T7: 8:00 - 22:00</p>
              </div>
            </div>
          </div>

          <button class="mobile-menu-btn" id="mobileMenuBtn">
            <i class="fa-solid fa-bars"></i>
          </button>
        </div>
      </div>

      <!-- NAVBAR -->

      <nav class="navbar" id="navbar">
        <div class="container">
          <ul class="nav-list">
            <li>
              <a href="index.html">
                <i class="fa-solid fa-house"></i>
                Trang Chủ
              </a>
            </li>

            <li>
              <a href="services.html">
                <i class="fa-solid fa-truck-fast"></i>
                Dịch Vụ
              </a>
            </li>

            <li>
              <a href="contact.html">
                <i class="fa-solid fa-phone"></i>
                Liên hệ
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
